OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
CHINOOK_DB_PATH=data/chinook.db

# LangSmith
# LANGSMITH_TRACING=true
# LANGSMITH_API_KEY=
# LANGSMITH_PROJECT=agentic-text-to-sql
# LANGSMITH_ENDPOINT=https://api.smith.langchain.com
